
<div class="card">
    <div class="card-header">
        <h5>Liste des utilisateurs de l'application HandyHive </h5>
       
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-inverse">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-primary">
                        <th scope="row">1</th>
                        <td>wala</td>
                        <td>wala@gmail</td>
                        <td>Admin</td>
                        <td >  <i class="fa fa-trash "></i>&nbsp;
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Fedi</td>
                        <td>fedi@</td>
                        <td>Admin</td>
                        <td>  <i class="fa fa-trash "></i>&nbsp;
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                    </tr>
                    <tr class="bg-success">
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>@twitter</td>
                        <td>cilent</td>
                        <td>  <i class="fa fa-trash "></i>&nbsp;
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Larry</td>
                        <td>@twitter</td>
                        <td>profission</td>
                        <td>  <i class="fa fa-trash "></i>&nbsp;
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                    </tr>
                    <tr class="bg-warning">
                        <th scope="row">5</th>
                        <td>Larry</td>
                        <td>@twitter</td>
                        <td>profission</td>
                        <td>
                            <i class="fa fa-trash "></i>&nbsp;
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
             </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
